<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Operative JasmineSpecRunner</title>
	<script src="vendor/Promise.js"></script>
	<script src="src/operative.js"></script>
</head>
<body>
	<% css.forEach(function(style){ %>
		<link rel="stylesheet" type="text/css" href="<%= style %>">
	<% }) %>
	<script>window._console = console;</script>
	<% with (scripts) { %>
		<% [].concat(jasmine, vendor, helpers, specs, reporters, start).forEach(function(script){ %>
			<script src="<%= script %>"></script>
		<% }) %>
	<% }; %>
</body>
</html>
